<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label>Nom Equipe</label>
      <input type="text" class="form-control" [(ngModel)]="nomEquipe" name="nomEquipe" class="form-control">
      <button type="submit" (click)="rechercherEquipes()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
      </div>
      </form>

      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom EQuipe en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>

  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>nom Terrain</th>
            <th>budgetAnnuel</th>
            <th>Date Création</th>
            <th>league</th>
          </tr>
        </thead>
        <tbody>
          @for (equipe of equipes; track equipe.idEquipe) {
          <tr>
            <td>{{ equipe.idEquipe }}</td>
            <td>{{ equipe.nomEquipe }}</td>
            <td>{{ equipe.nomTerrain }}</td>
            <td>{{ equipe.budgetAnnuel }}</td>
            <td>{{ equipe.dateRealisation | date : "dd/MM/yyyy" }}</td>
            @if(equipe.league){
            <td>{{ equipe.league.nomLeg }}</td>
            } @else {
            <td>PAS DE League</td>
            }
          </tr>
          }
          @empty {
            <tr>
              <td colspan="6" class="text-center">No teams found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
