<div class="col-sm-4 col-md-4 col-lg-4 mb-4">
  <app-update-league
    [league]="updatedLeg"
    (leagueUpdated)="leagueUpdated($event)"
    [ajout]="ajout">
  </app-update-league>
</div>

<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom League</th>
          </tr>
        </thead>
        @for (cat of leagues; track cat.idLeg) {
          <tbody>
            <tr>
              <td>{{ cat.idLeg }}</td>
              <td>{{ cat.nomLeg }}</td>
              <td><a class="btn btn-success" (click)="updateLeg(cat)">Editer</a></td>
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>
